* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  color:#fff;
  font-family: 'Inter', sans-serif;
}

.wrapper {
  max-width: 940px;
  margin: 0;
  padding: 0;
}

header .wrapper {
  max-width: 940px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 1em;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

#hero {
  height: 600px;
  background-image: url('images/hands-typing.jpg');
  background-size: cover; 
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center; 
  position: relative; 
}

#hero h1 {
  color: white; 
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px 20px; 
  border-radius: 5px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
  max-width: 30%;
}

#hero img { 
  position: absolute;
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  filter: grayscale(70%); 
  z-index: -1; 
}

#about-me {
  background-color: #fff;
  padding: 0; 
  color: black; 
}

#about-me .wrapper {
  max-width: 940px; 
  margin-left: 8em; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  gap: 20px;
}

.about-text {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-image img {
  max-width: 100%; 
  width: 300px;
  height: auto; 
}

#services {
  padding: 50px 0; 
  background-color: #fafafa; 
  color: black; 
}

#services > div {
  max-width: 940px; 
  margin: auto; 
  text-align: center; 
}

#services h2 {
  font-size: 2rem; 
  margin-bottom: 40px;
}

#services > div > div {
  display: flex; 
  justify-content: space-between; 
  gap: 20px; 
  flex-wrap: wrap; 
  text-align: left;
}

#services article {
  width: 30%;
  background-color: white; 
  padding: 1em; 
 
}

#services article h3 {
  font-size: 1.5rem; 
  margin-bottom: 15px; 
}

#services article p {
  text-align: left;
  font-size: 1rem;  
  margin-bottom: 1em; 
}

#services article .btn {
  display: inline-block;
  background-color: black; 
  color: white; 
  padding: 10px 20px; 
  text-decoration: none;
  border-radius: 5px; 
  font-weight: bold;
  margin: 1em;
}

#services article .btn:hover {
  background-color: white;
  color: black;
  border: 2px black;
}

#work {
  padding: 50px 0;
  background-color: white;
  color: black;
}

#work > div {
  max-width: 940px; 
  margin: 0 auto; 
  text-align: center; 
}

#work h2 {
  font-size: 2rem; 
  margin-bottom: 20px; 
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#work p {
  font-size: 1rem; 
  line-height: 1.6; 
  max-width: 90%; 
  margin-left: auto;
  margin-right: auto; 
}

#work > div > div {
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
}

#work > div > div img {
  width: 100%; 
  height: auto; 
}

